.BlogSection__container {
    background-color: var(--primary-dark);
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-bottom: 4rem;
    transition: all 0.15s;
}

.BlogSection__container:hover {
    box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.02);
}

.BlogSection__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    justify-content: space-between;
}

/* .BlogSection__title{
} */

.BlogSection__toggle {
    font-size: 1.4rem;
    background-color: var(--primary-color);
    padding: 2px;
    transition: all 0.15s;
}

.BlogSection__toggle:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.BlogSection__toggle:active{
    cursor: pointer;
    transform: scale(0.97);
}

.BlogSection__content {
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    /* margin:1rem; */
    width: 40rem;
}

.BlogSection__content--visible {
    /* display: flex; */
    display: flex;
    color: #222;
}

.BlogSection__content--hidden {
    /* display: flex; */
    display:none;
    color: #222;
}