:root {
  --primary-color: #c47335;
  --main-bg-color: #2660A4;
  --primary-dark: #56351e;
  --primary-light: #f19953;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif; 
  background-color: var(--main-bg-color);
}

.App__body {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: white;
}

.App__welcome {
  background-color: var(--primary-light);
  max-width: 22rem;
  padding: 1rem 2rem;
  margin: 3rem 1rem;
}

.App__flexrow {
  display: flex;
  flex-direction: row;
}
.App__header {
  background-color: var(--primary-light);
  position:fixed;
  height: 100vh;
  width: 12rem;
  top: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
}