:root {
  --primary-color: #6F1E51;
  --main-bg-color: #1e6f3c;
  --primary-dark: #31001F;
  --primary-light: #AC6291;
}

html {
  font-size: 62.5%;
}

Body {
  font-family: 'Rubik', sans-serif; 
}

.App__body {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: white;
}

.App__welcome {
  background-color: var(--primary-light);
  max-width: 22rem;
  padding: 1rem 2rem;
  margin: 3rem 1rem;
}