:root {
  --primary-color: #7a1d11;
  --main-bg-color: #c49898;
  --primary-dark: #4b111188;
  --primary-light: #7a5252;
  --primary-light2: #f3d2d2;
  --secondary-color: #d4d0c7;
  /* --primary-color: #117a2b;
  --main-bg-color: #98acc4;
  --primary-dark: #284b1188;
  --primary-light: #548a53;
  --primary-light2: #d2f3d6;
  --secondary-color: #7077d3; */
}

html {
  font-size: 62.5%;
  
}

body {
  font-family: 'Rubik', sans-serif; 
  background-color: var(--main-bg-color);
  background-image: url("../public/00042.jpg");
  /* background-position: 0; */
  background-position: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App__body {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: white;
}

.App__welcome {
  background-color: var(--primary-dark);
  width: 60vw;
  max-width: 800px;
  padding: 2rem 3rem;
  margin: 4rem 2rem;
}

.App__flexrow {
  display: flex;
  flex-direction: row;
}
.App__header {
  background-color: var(--primary-light);
  position:fixed;
  height: 100vh;
  width: 12rem;
  top: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
}

.App__welcometags {
  display: flex;
  width: 100%;
  gap: 6px;
  flex-wrap: wrap;
  flex-direction: row;
}

.App__welcometag {
  background-color: var(--primary-color);
  padding: 3px;
  border-radius: 100px;
}